<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Welcome to the website analyser.</title>
  <link rel="shortcut icon" href="favicon.ico"><link href="/css/app.css" rel="stylesheet"><link href="/css/bootstrap.css" rel="stylesheet"></head>
  <body>
    <div id="app">Application is loading...</div>
  <script type="text/javascript" src="app.bundle.js"></script><script type="text/javascript" src="bootstrap.bundle.js"></script></body>
</html>