.home-page {

  .title-container {
    padding: 0;
    margin-bottom: 50px;
    .home-title {
      font-weight: 700;
      color: #33C3F0;
      font-size: 48px;
      padding: 0;
    }
  
    .home-desc {
      color: #484848;
      font-weight: 200;
      font-size: 48px;
      padding: 15px 0 0 0;
    }
  }

  .search-container {
    margin-bottom: 70px;

    .element-container {

      position: absolute;
      width: 100%;
      top: 225px;
      padding-right: 30px;

      .search-input {
        font-size: 19px;
        line-height: 24px;
        color: #484848;
        border-radius: 4px;
        border: 1px solid #DBDBDB;
        box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08) !important;
        display: table;
        height: 70px;
        width: 100%;
        position: relative;
      }

      .btn-analyse {
        position: absolute;
        right: 45px;
        top: 11px;

        button {
          padding: 13px 25px;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
}

.error-message {
  color: rgb(173, 30, 30);
  font-size: 48px;
}

.search-details-container {
  margin-top: 125px;
}